.MyCommentText {
  display: flex;
  align-items: baseline;
  background-color: azure;
  border-radius: 10px;
  padding: 5px;
}

.MyBloggBox {
  padding: 10px;
  background-color: #747bff;
  width: 600px;
  height: auto;
}

.Header {
  padding: 10px;
  display: flex;
  align-items: self-end;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #243544;
}

.Space {
  width: 1000px;
}

.orange {
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  color: orangered;
  background-color: #182c3e;
}

.white {
  color: aliceblue;
  font-size: larger;
}

.writeForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.orange:hover {
  color: yellow;
}

.YourName {
  font-size: larger;
  color: azure;
}

.SignInBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.SignInContainer {
  border-radius: 10px;
  border-style: solid;
  width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  background-color: #747bff;
}

.SignInContainerUp {
  border-radius: 10px;
  border-style: solid;
  width: 400px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  background-color: #747bff;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
}

#nameScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 195px;
  width: 650px;
  height: 460px;
  background-color: white;
  position: absolute;
  border-style: solid;
  border-color: gray;
  border-radius: 50px;
  border-width: 25px;
  display: none;
}

.Lion {
  display: flex;
  align-items: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Loggo {
  height: 80px;
}

.Loggan {
  height: 70px;
  width: 70px;
}
